/* Slider Kontrolleri */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}
.prev { left: 10px; }
.next { right: 10px; }

.slide {
    display: none;
    width: 100%;
    height: 100%;
}
.slide.active {
    display: block;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
